<ion-view view-title="A propos">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/cc1.png">
        <p class="text-center">
          Est une application mobile pensée et réalisée par WIICOD pour repondre aux besoins de facturation,
          de gestion des stocks et de suivi de la clientèle.
        </p>
      </div>

    </div>

    <div class="text-center">
      <a class="class button button-default" href="mailto:info@wiicod.com">
        Nous contacter
      </a>
    </div>
  </ion-content>
</ion-view>
