
<ion-view view-title="Detail commande ">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-divider">
        <span class="pull-left">Facture</span>
        <span class="pull-right">#{{bills[0].bill.id}}</span>
      </div>

      <a class="item">
        <span class="pull-left">Client</span>
        <span class="pull-right">{{bills[0].bill.customer.name}}</span>
      </a>
      <a class="item">
        <span class="pull-left">Statut</span>
        <span class="pull-right red-value">{{statut|billStatus}}</span>
      </a>
      <a class="item">
        <span class="pull-left">Vendeur</span>
        <span class="pull-right red-value">{{bills[0].bill.seller.user.full_name}}</span>
      </a>
      <a class="item" ng-if="bills[0].bill.cashier.user.full_name">
        <span class="pull-left">Caisse</span>
        <span class="pull-right red-value">{{bills[0].bill.cashier.user.full_name}}</span>
      </a>

      <div class="item item-divider">
        <span class="pull-left">Produits</span>
        <span class="pull-right">{{bills[0].bill.amount|priceFormat}} Fcfa</span>
      </div>
      <a  class="item" ng-repeat="b in bills">
        <span class="pull-left">{{b.product_saletype.product.name|limitTo:20}} -{{b.product_saletype.unit}} ({{b.quantity}}) </span>
        <span class="pull-right">{{b.product_price_was*b.quantity|priceFormat}} Fcfa</span>
      </a>

    </div>

    <div class="list" style="margin-bottom: 60px;"
         ng-if="can('comamnd.prepare') || can('bill.pay') || statut=='paided' || statut=='waiting_payment'">
      <div class="item" style="padding:0;">

        <div class="button-bar">
          <a href="{{bills[0].bill.pdf_before_customer}}" ng-if="statut=='waiting_payment' && bills[0].bill.pdf_before_customer!=undefined" class="class button button-primary">
            PDF
          </a>
          <a  href="{{bills[0].bill.pdf_after_cashier}}" ng-if="statut=='paided' && bills[0].bill.pdf_after_cashier!=undefined" class="class button button-primary">
            PDF
          </a>
          <a class="class button button-default"
             ng-if="statut=='waiting_payment'"
             ng-click="cashIn(bills[0].bill)">
            Encaisser
          </a>
          <a href="" class="class button button-default"
             ng-if="statut=='waiting_customer_approval'"
             ng-click="prepare(bills[0].bill)">
            Préparé
          </a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
