<ion-view view-title="Suggestion">
  <ion-content class="padding">
    <form ng-submit="saveSuggestion(s)" class="form-login">

      <div class="list list-inset" style="margin-top:0">
        <label class="item item-input item-stacked-label hide">
          <span class="input-label" translate>Email</span>
          <input type="email" ng-model="s.email" placeholder="edward.nanda@wiicod.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Contenu de votre suggestion</span>
          <textarea style="min-height: 200px; resize: vertical" ng-model="s.content"></textarea>
        </label>

        <div class="item" style="padding-top: 1px;padding-bottom: 1px">
          <button type="submit" class="button button-block button-default" translate>
            Enregistrer
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
